/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0px;
    height: 100%;
}

nav.bg-light {
    background-color: #121212 !important;
}

.link-color {
    color: #FFFFFF !important;
}

main {
    background-color: #000000;
    height: 100%;
    color: #FFFFFF;
}

.search-btn-yellow {
	color: #F2C315;
	background-color: transparent;
	background-image: none;
	border-color: #F2C315;
}

.search-btn-yellow:hover {
	color: #495057;
	background-color: #F2C315;
	background-image: none;
	border-color: #F2C315;
}

.yellow-bg {
	background-color: #F2C315;
}

.dropdown-divider {
	border-top: 1px solid #121212 !important;
}

